<?xml version='1.0' encoding='utf-8'?>
<widget id="co.helloben.redditlive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Reddit Live Monitor</name>
    <description>
        A simple application to monitor Reddit Live threads.
    </description>
    <author email="ben@helloben.co" href="http://helloben.co">
        Ben Stobaugh
    </author>
    
    <content src="index.html" />
    
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    
    <icon src="rl-icon.png" />
    <access origin="*" />
    
    <!--<plugin name="cordova-plugin-whitelist"/>-->    
    <!--<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="wss://*/*" />
    <allow-intent href="ws://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>-->
</widget>
